// Variables and mixins
@import 'variables';
@import 'mixins';

// Custom bootstrap and utilities
@import 'custom-bootstrap';
@import 'utilities-api.scss';

// MDBootstrap
@import 'mdb-ui-kit/src/scss/mdb.free.scss';

// Typography
.title
{
   @include title;
}
.sub-title
{
   @include sub-title;
}
.text
{
   @include text;
}

// Navbar
.navbar {
   position: relative;
   z-index: 2;
   background-color: transparent;
   padding: 0.5rem 0 0;

   .navbar-toggler {
      color: $secondary-dark;
      padding: 1rem;
   }

   .navbar-brand {
      padding: 1rem;
      position: relative;
   }
   .navbar-brand::after {
      @include nav-item-border(0, 50%);
   }
   .navbar-brand:hover::after {
      @include nav-item-border(100%, 0);
   }

   .navbar-title {
      @include title(1.5rem);
      color: $secondary-light;
   }

   .navbar-nav {
      padding: 0;
   }

   .nav-item {
      padding: 0;
      margin: 0 3rem 0 0;
   }

   .nav-link {
      @include sub-title(1.25rem);
      padding: 1rem;
      position: relative;
      color: $secondary-light;
   }
   .nav-item.dropdown .nav-link {
      @include sub-title(1.25rem);
      color: $secondary-light;
   }
   .nav-link::after {
      @include nav-item-border(0, 50%);
   }
   .nav-link:hover::after {
      @include nav-item-border(100%, 0);
   }

   @media screen and (max-width: 991px) {
      background-color: $primary-main;
      .navbar-brand::after {
         @include nav-item-border(0, 50%, $secondary-dark);
      }
      .navbar-brand:hover::after {
         @include nav-item-border(100%, 0, $secondary-dark);
      }
      .navbar-title {
         display: block;
         margin: auto;
         color: $secondary-dark;
      }
      .nav-item {
         text-align: center;
         margin: 0;
      }
      .nav-link,
      .nav-item.dropdown .nav-link {
         color: $secondary-main;
      }
      .nav-link::after {
         @include nav-item-border(0, 50%, $secondary-dark);
      }
      .nav-link:hover::after {
         @include nav-item-border(100%, 0, $secondary-dark);
      }
   }
}

// Intro
.intro {
   height: 100vh;
   position: relative;
   z-index: 1;

   .title-intro {
      @include custom-text($font-title, 700, 3rem, $secondary-light);
   }

   .text-intro {
      @include custom-text($font-text, 600, 1.2rem, $secondary-light);
   }

   .btn.btn-dark.btn-intro {
      background-color: rgba($color: $secondary-light, $alpha: 0.1);
      border: 1px solid $secondary-light;
      padding: 0.75rem 3rem;

      &:hover,
      &:active {
         background-color: rgba($color: $secondary-light, $alpha: 0.0);
         border: 2px solid $secondary-light;
      }
   }

   @media screen and (min-width: 992px) {
      margin-top: -78.4px;
   }
}

.intro::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url('../assets/img/background.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   transform: scaleX(-1);
   z-index: -1;
}

// Components
.form-register {
   background-color: $primary-main;
   max-width: 550px;
}

.btn.btn-primary.btn-submit,
.btn.btn-primary.btn-custom {
   background-color: $primary-dark;

   &:hover,
   &:active {
      background-color: $primary-dark;
   }
}

// Style
.mask-dark {
   @include mask-dark;
}

@media screen and (min-width: 1400px) {
   .intro {
      .title-intro {
         @include custom-text($font-title, 700, 4rem, $secondary-light);
      }
   
      .text-intro {
         @include custom-text($font-text, 600, 1.5rem, $secondary-light);
      }
   }
}
